@import "tailwindcss";
@plugin '../hero.js';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.raw-html * {
    all: revert !important;
}

.space-y-3::-webkit-scrollbar {
    width: 6px;
}

.space-y-3::-webkit-scrollbar-track {
    background: #ffffffaf;
    border-radius: 10px;
}

.space-y-3::-webkit-scrollbar-thumb {
    background: #c9c9c998;
    border-radius: 10px;
}

.space-y-3::-webkit-scrollbar-thumb:hover {
    background: #303030;
}
